<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>test</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  	<servlet>
	<servlet-name>indexform</servlet-name>
	<servlet-class>question.IndexAction</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>indexform</servlet-name>
	<url-pattern>/indexform</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>q1next</servlet-name>
	<servlet-class>question.Q1Action</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>q1next</servlet-name>
	<url-pattern>/q1next</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>q2next</servlet-name>
	<servlet-class>question.Q2Action</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>q2next</servlet-name>
	<url-pattern>/q2next</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>q3next</servlet-name>
	<servlet-class>question.Q3Action</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>q3next</servlet-name>
	<url-pattern>/q3next</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>q4next</servlet-name>
	<servlet-class>question.Q4Action</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>q4next</servlet-name>
	<url-pattern>/q4next</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>q6next</servlet-name>
	<servlet-class>question.Q6Action</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>q6next</servlet-name>
	<url-pattern>/q6next</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>q8next</servlet-name>
	<servlet-class>question.Q8Action</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>q8next</servlet-name>
	<url-pattern>/q8next</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>q9next</servlet-name>
	<servlet-class>question.Q9Action</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>q9next</servlet-name>
	<url-pattern>/q9next</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>q12next</servlet-name>
	<servlet-class>question.Q12Action</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>q12next</servlet-name>
	<url-pattern>/q12next</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>q13next</servlet-name>
	<servlet-class>question.Q13Action</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>q13next</servlet-name>
	<url-pattern>/q13next</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>q14next</servlet-name>
	<servlet-class>question.Q14Action</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>q14next</servlet-name>
	<url-pattern>/q14next</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>q15next</servlet-name>
	<servlet-class>question.Q15Action</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>q15next</servlet-name>
	<url-pattern>/q15next</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>index</servlet-name>
	<jsp-file>/index.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	<servlet-name>index</servlet-name>
	<url-pattern>/index</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>q1</servlet-name>
	<jsp-file>/question/q_1.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	<servlet-name>q1</servlet-name>
	<url-pattern>/q1</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>q2</servlet-name>
	<jsp-file>/question/q_2.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	<servlet-name>q2</servlet-name>
	<url-pattern>/q2</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>q3</servlet-name>
	<jsp-file>/question/q_3.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	<servlet-name>q3</servlet-name>
	<url-pattern>/q3</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>q4</servlet-name>
	<jsp-file>/question/q_4.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	<servlet-name>q4</servlet-name>
	<url-pattern>/q4</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>q5</servlet-name>
	<jsp-file>/question/q_5.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	<servlet-name>q5</servlet-name>
	<url-pattern>/q5</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>q6</servlet-name>
	<jsp-file>/question/q_6.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	<servlet-name>q6</servlet-name>
	<url-pattern>/q6</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>q7</servlet-name>
	<jsp-file>/question/q_7.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	<servlet-name>q7</servlet-name>
	<url-pattern>/q7</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>q8</servlet-name>
	<jsp-file>/question/q_8.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	<servlet-name>q8</servlet-name>
	<url-pattern>/q8</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>q9</servlet-name>
	<jsp-file>/question/q_9.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	<servlet-name>q9</servlet-name>
	<url-pattern>/q9</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>q10</servlet-name>
	<jsp-file>/question/q_10.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	<servlet-name>q10</servlet-name>
	<url-pattern>/q10</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>q11</servlet-name>
	<jsp-file>/question/q_11.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	<servlet-name>q11</servlet-name>
	<url-pattern>/q11</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>q12</servlet-name>
	<jsp-file>/question/q_12.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	<servlet-name>q12</servlet-name>
	<url-pattern>/q12</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>q13</servlet-name>
	<jsp-file>/question/q_13.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	<servlet-name>q13</servlet-name>
	<url-pattern>/q13</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>q14</servlet-name>
	<jsp-file>/question/q_14.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	<servlet-name>q14</servlet-name>
	<url-pattern>/q14</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>q15</servlet-name>
	<jsp-file>/question/q_15.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	<servlet-name>q15</servlet-name>
	<url-pattern>/q15</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>result</servlet-name>
	<jsp-file>/result.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	<servlet-name>result</servlet-name>
	<url-pattern>/result</url-pattern>
	</servlet-mapping>
</web-app>